@model IEnumerable<ProyectoGruas.Models.User>

@{
    ViewBag.Title = "Disponibilidad";
}
<br /><br />
<h2>Tabla disponibilidad</h2>
<br />
<label>Hora actual: </label>
<input type="text" id="clock" readonly />
<script type="text/javascript">
    setInterval("settime()", 1000);

    function settime() {
        var dateTime = new Date();
        var hour = dateTime.getHours();
        var minute = dateTime.getMinutes();
        var second = dateTime.getSeconds();

        if (minute < 10)
            minute = "0" + minute;

        if (second < 10)
            second = "0" + second;

        var time = "" + hour + ":" + minute + ":" + second;

        document.getElementById("clock").value = time;
    }
</script>

<br /><br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody id="DataSearching">
        @foreach (var Item in Model)
        {
            <tr>
                <td>@Item.UserName</td>
                <td>@Item.Nombre</td>
                <td>@Item.Apellidos</td>
                <td>@Item.Estado</td>
            </tr>
        }

    </tbody>
</table>

<style>
    #clock {
        font-size: 24px;
        border: 0;
        outline: none;
    }
    label {
        font-size: 24px;
    }

</style>
